* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.6;
    font-family: var(--ff-f);
}

:root {
    --ff-f: "Poppins", sans-serif;

    --fw-reg: 400;
    --fw-bold: 500;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}

.ellipse {
    display: none;
    height: 486px;
    width: 486px;
    background-color: #7562e0;
    border-radius: 50%;
}

@media (max-width: 800px) {
    .nav-laptop {
        display: none;
    }
    .home > .intro-textcontainer > .intro-text > h1 {
        font-weight: var(--fw-reg);
        font-size: 32px;
        color: white;
    }

    img {
        display: none;
    }
    .home {
        padding: 1rem;
        display: flex;
        align-items: flex-end;
    }

    .aboutme {
        padding: 1rem;
    }
    .aboutme > .container-flex > .text {
        align-self: center;
        font-size: 15px;
        color: white;
    }
    .projects,
    .contact {
        background-color: #1a1a29;
        padding-left: 22px;
        padding-right: 22px;
    }
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4rem;
        --fs-h2: 3.755rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }

    .nav {
        display: none;
    }

    .nav-toggle {
        display: none;
    }

    .nav-linklaptop {
        text-decoration: none;
        color: #ffffff;
        padding-left: 1em;
        padding-right: 1em;
    }

    .nav-linklaptop:hover {
        color: #7562e0;
    }

    .nav--listlaptop {
        display: flex;
        justify-content: space-between;
    }

    .header {
        padding-top: 1em;
        padding-bottom: 1em;
        padding-right: 156px;
        padding-left: 156px;
    }

    .home {
        height: 80vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: flex-end;
        justify-content: center;
        padding-right: 136px;
        padding-left: 136px;
        grid-column-gap: 50px;
    }

    .image {
        display: grid;
        position: relative;
    }

    img {
        align-self: flex-end;
        padding-bottom: 0 !important;
        position: absolute;
        right: 0;
    }

    .aboutme {
        padding-right: 136px;
        padding-left: 136px;
        padding-top: 55px;
    }

    .aboutme > .container-flex > .text {
        align-self: center;
        font-size: 24px;
        color: white;
    }

    .projects,
    .contact {
        padding-right: 136px;
        padding-left: 136px;
        padding-top: 55px;
        background-color: #1a1a29;
        
    }

    .contact{
        padding-bottom: 10px;
    }

    .contact-text {
        display: flex;
        justify-content: space-between;
    }

    .footer-items-top{
        display: flex;
        justify-content: space-between;
    }

    footer{
        padding-right: 136px;
        padding-left: 136px;
        padding-top: 55px;
    }
}

.home > .intro-textcontainer > .button > a > .button-1,
.home > .intro-textcontainer > .button > a > .button-2 {
    font-style: var(--ff-f);
    font-size: 16px;
    color: white;
    padding-left: 25px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #7562e0;
    margin-right: 4px;
    border-radius: 8px;
    border-color: #7562e0;
}

.home > .intro-textcontainer > .button > a > .button-1:hover,
.home > .intro-textcontainer > .button > a > .button-2:hover {
    background-color: #1a1a29;
}

.home > .intro-textcontainer > .button {
    display: flex;
    align-content: center;
}
.rectangle {
    height: 128px;
    background-color: #181824;
}

.home {
    height: 80vh;
    color: white;
    background-color: #1a1a29;
}

.intro-text > h2 {
    font-weight: var(--fw-bold);
    padding-bottom: 6px;
    font-size: 32px;
}

.intro-text {
    padding-bottom: 2rem;
}

.intro-text > h1 {
    font-weight: 600;
    font-size: 52px;
}

.intro-text > p {
    font-size: 18px;
}

.button {
    padding-bottom: 50px;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style-type: none;
}

.btn {
    display: inline-block;
    padding: 0.5em 2.5em;
    background: blue;
    color: red;
    text-decoration: none;
    cursor: pointer;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

.logo p {
    color: #7562e0;
}

header {
    background-color: #181824;
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 3em;
    padding-left: 2em;
}

.nav-link {
    color: #ffffff;
    text-decoration: none;
}

.nav-link:hover {
    color: #7562e0;
}

.nav-link:active {
    color: #7562e0;
}

.nav {
    position: fixed;
    background: #181824;
    color: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateX(100%); /*move the nav bar right 0%*/
    transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
    height: max-content;
}

.nav-toggle {
    padding: 0.5em;
    background: transparent; /*to remove the background*/
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}
/*hamburger*/
.hamburger {
    background: #7562e0;
    width: 2em;
    height: 3px;
    border-radius: 1em;
    display: block;
    position: relative;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    background: #7562e0;
    width: 2em;
    border-radius: 1em;
    height: 3px;
    transition: transform 250ms ease-in-out;
}

.hamburger::before {
    top: 6px;
}

.hamburger::after {
    bottom: 6px;
}

.nav-open .nav {
    transform: translateX(0); /*when nav is clicked make the navbar fill page*/
}

.nav-open .hamburger {
    transform: rotate(0.625turn); /*for the x turning*/
}

.nav-open .hamburger::after {
    opacity: 0; /*for the x turning*/
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px); /*for the x turning*/
}

.aboutme {
    background-color: #1a1a29;
    padding-bottom: 20px;
}

.aboutme > h2 {
    color: #7562e0;
    padding-bottom: 5px;
}

.aboutme > p {
    color: white;
    font-size: 18px;
}

.aboutme > .container-flex > .num {
    font-weight: 600;
    font-size: 96px;
    color: #7562e0;
}

.aboutme > .container-flex {
    display: flex;
}

.skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
    gap: 17px;
    text-align: left;
    color: white;
    padding-bottom: 80px;
}
.skills > .skill > p {
    font-size: 22px;
}

.skills > .skill > .icon {
    font-size: 42px;
    text-align: left;
}

.excel,
.web,
.office,
.data {
    background-color: #bdbdbd;
    align-self: flex-end;
    height: 254px;
    padding-left: 24px;
    padding-right: 10px;
}

.excel:hover,
.web:hover,
.office:hover,
.data:hover {
    background-color: #7562e0;
}

/* services */

.servicescontainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(341px, 1fr));
    grid-gap: 16px 22px;
}
.service {
    color: white;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 75px;
    padding-left: 22px;
    padding-right: 22px;
    height: 338px;
}

.servicescontainer > .service > .icon1 {
    font-size: 56px;
}

.servicescontainer > .service > h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 44px;
}

.servicescontainer > .service > p {
    font-size: 14px;
}
.services {
    padding-bottom: 22px;
}

.services > p {
    font-size: 32px;
    font-weight: 600;
    color: #7562e0;
    line-height: 48px;
}

.service {
    border-style: solid;
    border-radius: 16px;
    border-color: #7562e0;
}

.service:nth-child(2),
.service:nth-child(4),
.service:nth-child(6) {
    border-color: white;
}

.card2 > h2,
.card4 > h2,
.card6 > h2 {
    color: #7562e0;
}

/* projects */

.projects > h2 {
    color: #7562e0;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    padding-bottom: 16px;
}

.projects > p {
    font-size: 18px;
    color: white;
    font-weight: 500;
}

/* contact-section */
.contact-text > .left > h2 {
    color: #7562e0;
    padding-bottom: 16px;
}

.contact-icons > a {
    color: #7562e0;
    font-size: 26.67px;
    padding-right: 21.36px;
}
.contact-text > .left > p:nth-child(1) {
    font-size: 19px;
}

.contact > .contact-text > .left > p {
    color: white;
    line-height: 27px;
    padding-bottom: 26.67px;
}

.contact-text > div:nth-child(2) > p:nth-child(1) {
    color: white;
    font-size: 24px;
}

/* form */



.form-side{
    max-width: 50%;
}

form{
    padding-top: 24px;
    width:100%;
}

input,
textarea {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 16px;
    background-color: orange;
    opacity:0.11;
}

::placeholder {
    font-size: 16px;
    font-weight: 500;
    color: #f5f5f5;
    opacity: 50%;
}

input[type="text"] {
    height: 62px;
    padding: 19px 16px;
}

input[type="email"] {
    height: 62px;
    padding: 19px 16px;
}

textarea {
    height: 98px;
    padding: 37px 16px;
    font-family: 'Poppins';
}

.button-send{
    background-color: #7562E0;
    border-radius: 8px;
    width:174px;
    height:50px;
    text-align:center;
    padding: 15px 47px;
    font-size:16px;
    color:white;
    border-color:#7562E0;
    font-family: 'Poppins';
}

/* footer */
footer{
    padding-top:10px;
    background-color: #1a1a29;
    padding-bottom: 34.5px;
}


.footer-items-top{
    padding-top:157px;
    font: size 16px;
    line-height: 24px;
    color: #FFFFFF;
    opacity:50%;
    font-weight: 500;
}

